.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; /* Fixed height */
    padding: 0 1rem;
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
  }
  
  .pair {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 1.2rem;
    height: 1.2rem;
  }
  
  .title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-left: 0.5rem; /* Adjusted for spacing between logo and title */
  }
  
  .closeButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .profile_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
  }
  .next_icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    align-items: center;
  }
  .dashboar_link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }

  .modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }